#Basketball-reference EFF and GmSc Calculation

In [1]:
# special IPython command to prepare the notebook for matplotlib
from collections import defaultdict

import pandas as pd
import matplotlib.pyplot as plt
import requests
import re
import string
from pattern import web

### Read Player Seaaon CSV

In [2]:
df_Season_Total = pd.read_csv('e:\\nba\\Season_Totals.csv', header=0)

df_Season_Total.info()
#df_Season_Total.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3440 entries, 0 to 3439
Data columns (total 35 columns):
Season         3440 non-null object
Age            3440 non-null int64
Tm             3440 non-null object
Lg             3440 non-null object
Pos            3440 non-null object
G              3440 non-null int64
GS             3440 non-null int64
MP             3440 non-null int64
FG             3440 non-null int64
FGA            3440 non-null int64
FG_Per         3434 non-null float64
three_P        3440 non-null int64
three_PA       3440 non-null int64
three_P_Per    3031 non-null float64
two_P          3440 non-null int64
two_PA         3440 non-null int64
two_P_Per      3429 non-null float64
eFG_Per        3434 non-null float64
FT             3440 non-null int64
FTA            3440 non-null int64
FT_Per         3386 non-null float64
ORB            3440 non-null int64
DRB            3440 non-null int64
TRB            3440 non-null int64
AST            3440 non-null int64
STL            3440 non-null int64
BLK            3440 non-null int64
TOV            3440 non-null int64
PF             3440 non-null int64
PTS            3440 non-null int64
TranFlag       3440 non-null object
Name           3440 non-null object
ORtg           3436 non-null float64
DRtg           3439 non-null float64
Salary         3440 non-null object
dtypes: float64(7), int64(21), object(7)
memory usage: 967.5+ KB

### Read Season_Advance_Totals CSV

In [3]:
df_Season_Advance = pd.read_csv('e:\\nba\\Season_Advance_Totals.csv', header=0)

df_Season_Advance.info()
#df_Season_Advance.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3440 entries, 0 to 3439
Data columns (total 30 columns):
Season       3440 non-null object
Age          3440 non-null int64
Tm           3440 non-null object
Lg           3440 non-null object
Pos          3440 non-null object
G            3440 non-null int64
MP           3440 non-null int64
PER          3439 non-null float64
TS_Per       3435 non-null float64
three_Per    3434 non-null float64
FT_Per       3434 non-null float64
ORB_Per      3439 non-null float64
DRB_Per      3439 non-null float64
TRB_Per      3439 non-null float64
AST_Per      3439 non-null float64
STL_Per      3439 non-null float64
BLK_Per      3439 non-null float64
TOV_Per      3436 non-null float64
USG_Per      3439 non-null float64
OWS          3440 non-null float64
DWS          3440 non-null float64
WS           3440 non-null float64
WS48         3439 non-null float64
OBPM         3440 non-null float64
DBPM         3440 non-null float64
BPM          3440 non-null float64
VORP         3440 non-null float64
TranFlag     3440 non-null object
Name         3440 non-null object
Salary       3440 non-null object
dtypes: float64(20), int64(3), object(7)
memory usage: 833.1+ KB

### Season EFF Calculation

In [4]:
def EFF_Calculation(x):
    PTS = x[29]
    TRB = x[23]
    AST = x[24]
    STL = x[25]
    BLK = x[26]
    FGA = x[9]
    FG  = x[8] 
    FTA = x[19]
    FT  = x[18]
    TOV = x[27]
    G   = x[5]
    
    EFF = ((PTS + TRB + AST + STL + BLK) -(FGA-FG)-(FTA-FT)-TOV) / G
    return EFF


df_Season_Total['EFF'] = df_Season_Total.apply(EFF_Calculation,axis =1)
df_Season_Total[['Season','Name','EFF']].head(10)

    Season           Name  EFF
0  2010-11   Cole Aldrich    2
1  2011-12   Cole Aldrich    3
2  2012-13   Cole Aldrich    6
3  2014-15   Cole Aldrich   10
4  2010-11  Solomon Alabi    0
5  2011-12  Solomon Alabi    4
6  1996-97      Ray Allen   12
7  1997-98      Ray Allen   17
8  1998-99      Ray Allen   15
9  1999-00      Ray Allen   19

In [5]:
df_Season_Total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3440 entries, 0 to 3439
Data columns (total 36 columns):
Season         3440 non-null object
Age            3440 non-null int64
Tm             3440 non-null object
Lg             3440 non-null object
Pos            3440 non-null object
G              3440 non-null int64
GS             3440 non-null int64
MP             3440 non-null int64
FG             3440 non-null int64
FGA            3440 non-null int64
FG_Per         3434 non-null float64
three_P        3440 non-null int64
three_PA       3440 non-null int64
three_P_Per    3031 non-null float64
two_P          3440 non-null int64
two_PA         3440 non-null int64
two_P_Per      3429 non-null float64
eFG_Per        3434 non-null float64
FT             3440 non-null int64
FTA            3440 non-null int64
FT_Per         3386 non-null float64
ORB            3440 non-null int64
DRB            3440 non-null int64
TRB            3440 non-null int64
AST            3440 non-null int64
STL            3440 non-null int64
BLK            3440 non-null int64
TOV            3440 non-null int64
PF             3440 non-null int64
PTS            3440 non-null int64
TranFlag       3440 non-null object
Name           3440 non-null object
ORtg           3436 non-null float64
DRtg           3439 non-null float64
Salary         3440 non-null object
EFF            3440 non-null int64
dtypes: float64(7), int64(22), object(7)
memory usage: 994.4+ KB

### Season GmSc Calculation

In [6]:
def GmSc_Calculation(x):
    PTS = x[29]
    ORB = x[21]
    DRB = x[22]    
    AST = x[24]
    STL = x[25]
    BLK = x[26]
    FGA = x[9]
    FG  = x[8] 
    FTA = x[19]
    FT  = x[18]
    PF  = x[28]
    TOV = x[27]
    G   = x[5]
    
    GmSc = (PTS + 0.4 * FG - 0.7 * FGA - 0.4*(FTA - FT)
            + 0.7 * ORB + 0.3 * DRB + STL + 0.7 * AST + 0.7 * BLK - 0.4 * PF - TOV) / G
    return GmSc


df_Season_Total['GmSc'] = df_Season_Total.apply(GmSc_Calculation,axis =1)
df_Season_Total[['Season','Name','EFF','GmSc']].head(10)

    Season           Name  EFF       GmSc
0  2010-11   Cole Aldrich    2   1.016667
1  2011-12   Cole Aldrich    3   2.273077
2  2012-13   Cole Aldrich    6   3.646667
3  2014-15   Cole Aldrich   10   5.709836
4  2010-11  Solomon Alabi    0   0.225000
5  2011-12  Solomon Alabi    4   2.407143
6  1996-97      Ray Allen   12   8.953659
7  1997-98      Ray Allen   17  13.017073
8  1998-99      Ray Allen   15  11.972000
9  1999-00      Ray Allen   19  15.635366

###Merge Season_Total Field ['ORtg','DRtg','EFF','GmSc'] to Season_Advance

In [7]:
df_Season_Advance = pd.merge(df_Season_Advance, df_Season_Total[['Season', 'Tm','Name','ORtg','DRtg','EFF','GmSc']], on=['Season', 'Tm','Name'])
print df_Season_Advance.sort_index(by=['Season','Tm','Name']).head(10)

       Season  Age   Tm   Lg Pos   G    MP   PER  TS_Per  three_Per  \
1246  1995-96   19  MIN  NBA  SF  80  2293  15.8   0.522      0.038
2838  1995-96   21  PHI  NBA  SG  72  2701  14.8   0.525      0.268
1015  1996-97   22  LAL  NBA  PG  80   921  11.0   0.491      0.279
259   1996-97   18  LAL  NBA  SG  71  1103  14.4   0.544      0.322
6     1996-97   21  MIL  NBA  SG  82  2532  14.6   0.541      0.328
1247  1996-97   20  MIN  NBA  SF  77  2995  18.2   0.537      0.019
2839  1996-97   22  PHI  NBA  SG  81  3166  14.1   0.524      0.261
2360  1996-97   22  PHO  NBA  PG  65   684  10.8   0.539      0.314
2393  1996-97   18  POR  NBA  PF  45   458  13.7   0.494      0.007
558   1997-98   21  BOS  NBA  PG  51  1296  15.4   0.530      0.416

        ...      DBPM  BPM  VORP  TranFlag              Name      Salary  \
1246    ...       2.4  1.7   2.1         N     Kevin Garnett  $1,622,000
2838    ...      -1.6 -1.4   0.4         N  Jerry Stackhouse  $1,987,000
1015    ...      -1.0 -3.5  -0.3         N      Derek Fisher    $612,000
259     ...      -0.8 -1.7   0.1         N       Kobe Bryant  $1,015,000
6       ...      -1.2  0.3   1.5         N         Ray Allen  $1,785,000
1247    ...       2.6  2.9   3.7         N     Kevin Garnett  $1,666,000
2839    ...      -2.2 -2.0   0.0         N  Jerry Stackhouse  $2,286,000
2360    ...      -2.8 -4.6  -0.5         N        Steve Nash    $916,000
2393    ...      -1.1 -6.3  -0.5         N   Jermaine O'Neal    $827,000
558     ...      -1.9 -0.3   0.5         N  Chauncey Billups  $2,384,640

      ORtg  DRtg  EFF       GmSc
1246   107   107   14   9.515000
2838   101   115   14  12.034722
1015    98   106    3   2.648750
259    101   105    6   4.738028
6      109   110   12   8.953659
1247   107   105   21  14.583117
2839   102   115   14  12.204938
2360   103   112    4   2.440000
2393   100   102    4   2.806667
558    105   107   10   8.231373

[10 rows x 34 columns]

###Read Player Playoffs CSV

In [8]:
df_playoffs_Total = pd.read_csv('e:\\nba\\Playoffs_Totals.csv', header=0)

df_playoffs_Total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1595 entries, 0 to 1594
Data columns (total 35 columns):
Season         1595 non-null object
Age            1595 non-null int64
Tm             1595 non-null object
Lg             1595 non-null object
Pos            1595 non-null object
G              1595 non-null int64
GS             1595 non-null int64
MP             1595 non-null int64
FG             1595 non-null int64
FGA            1595 non-null int64
FG_Per         1563 non-null float64
three_P        1595 non-null int64
three_PA       1595 non-null int64
three_P_Per    1190 non-null float64
two_P          1595 non-null int64
two_PA         1595 non-null int64
two_P_Per      1548 non-null float64
eFG_Per        1563 non-null float64
FT             1595 non-null int64
FTA            1595 non-null int64
FT_Per         1412 non-null float64
ORB            1595 non-null int64
DRB            1595 non-null int64
TRB            1595 non-null int64
AST            1595 non-null int64
STL            1595 non-null int64
BLK            1595 non-null int64
TOV            1595 non-null int64
PF             1595 non-null int64
PTS            1595 non-null int64
TranFlag       1595 non-null object
Name           1595 non-null object
ORtg           1576 non-null float64
DRtg           1593 non-null float64
Salary         1595 non-null object
dtypes: float64(7), int64(21), object(7)
memory usage: 448.6+ KB

###Read Playoffs_Advance_Totals CSV

In [9]:
df_playoffs_Advance = pd.read_csv('e:\\nba\\Playoffs_Advance_Totals.csv', header=0)

df_playoffs_Advance.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1595 entries, 0 to 1594
Data columns (total 30 columns):
Season       1595 non-null object
Age          1595 non-null int64
Tm           1595 non-null object
Lg           1595 non-null object
Pos          1595 non-null object
G            1595 non-null int64
MP           1595 non-null int64
PER          1593 non-null float64
TS_Per       1570 non-null float64
three_Per    1563 non-null float64
FT_Per       1563 non-null float64
ORB_Per      1593 non-null float64
DRB_Per      1593 non-null float64
TRB_Per      1593 non-null float64
AST_Per      1593 non-null float64
STL_Per      1593 non-null float64
BLK_Per      1593 non-null float64
TOV_Per      1572 non-null float64
USG_Per      1593 non-null float64
OWS          1595 non-null float64
DWS          1595 non-null float64
WS           1595 non-null float64
WS48         1593 non-null float64
OBPM         1595 non-null float64
DBPM         1595 non-null float64
BPM          1595 non-null float64
VORP         1595 non-null float64
TranFlag     1595 non-null object
Name         1595 non-null object
Salary       1595 non-null object
dtypes: float64(20), int64(3), object(7)
memory usage: 386.3+ KB

###Playoffs EFF Calculation

In [10]:
df_playoffs_Total['EFF'] = df_playoffs_Total.apply(EFF_Calculation,axis =1)
df_playoffs_Total[['Season','Name','EFF']].head(10)

    Season          Name  EFF
0  2011-12  Cole Aldrich    3
1  1998-99     Ray Allen   22
2  1999-00     Ray Allen   20
3  2000-01     Ray Allen   24
4  2004-05     Ray Allen   22
5  2007-08     Ray Allen   14
6  2008-09     Ray Allen   15
7  2009-10     Ray Allen   13
8  2010-11     Ray Allen   19
9  2011-12     Ray Allen    9

###Playoffs GmSc Calculation

In [11]:
df_playoffs_Total['GmSc'] = df_playoffs_Total.apply(GmSc_Calculation,axis =1)
df_playoffs_Total[['Season','Name','EFF','GmSc']].head(10)

    Season          Name  EFF       GmSc
0  2011-12  Cole Aldrich    3   1.840000
1  1998-99     Ray Allen   22  16.700000
2  1999-00     Ray Allen   20  16.040000
3  2000-01     Ray Allen   24  19.805556
4  2004-05     Ray Allen   22  18.318182
5  2007-08     Ray Allen   14  11.261538
6  2008-09     Ray Allen   15  12.207143
7  2009-10     Ray Allen   13  10.566667
8  2010-11     Ray Allen   19  15.222222
9  2011-12     Ray Allen    9   6.627778

###Merge Playoffs_Total Field ['ORtg','DRtg','EFF','GmSc'] to Playoffs_Advance

In [12]:
df_playoffs_Advance = pd.merge(df_playoffs_Advance, df_playoffs_Total[['Season', 'Tm','Name','ORtg','DRtg','EFF','GmSc']], on=['Season', 'Tm','Name'])
print df_playoffs_Advance.sort_index(by=['Season','Tm','Name']).head(10)

       Season  Age   Tm   Lg Pos   G   MP   PER  TS_Per  three_Per    ...      \
488   1996-97   22  LAL  NBA  PG   6   34  -2.1   0.325      0.455    ...
133   1996-97   18  LAL  NBA  SG   9  133  12.5   0.543      0.418    ...
590   1996-97   20  MIN  NBA  SF   3  125  19.3   0.497      0.020    ...
1114  1996-97   22  PHO  NBA  PG   4   15  -5.1   0.278      0.444    ...
1134  1996-97   18  POR  NBA  PF   2    4 -16.6   0.000      0.500    ...
489   1997-98   23  LAL  NBA  PG  13  278  12.6   0.483      0.294    ...
134   1997-98   19  LAL  NBA  SG  11  220  12.8   0.501      0.184    ...
591   1997-98   21  MIN  NBA  PF   5  194  15.5   0.500      0.000    ...
1115  1997-98   23  PHO  NBA  PG   4   51  16.5   0.511      0.278    ...
1135  1997-98   19  POR  NBA  PF   1    3  -5.3   0.000      0.333    ...

      DBPM   BPM  VORP  TranFlag             Name      Salary  ORtg  DRtg  \
488   -1.3 -12.0  -0.1         N     Derek Fisher    $612,000    60   110
133   -1.5  -2.8   0.0         N      Kobe Bryant  $1,015,000   100   110
590    4.1   1.6   0.1         N    Kevin Garnett  $1,666,000   113   123
1114   2.4 -10.4   0.0         N       Steve Nash    $916,000    57   115
1134   2.9 -27.3   0.0         N  Jermaine O'Neal    $827,000     0    98
489    0.9  -1.2   0.1         N     Derek Fisher    $703,200   106   111
134   -0.5  -3.5  -0.1         N      Kobe Bryant  $1,167,240   106   116
591    5.7   1.6   0.2         N    Kevin Garnett  $2,109,120    92   108
1115   1.9   2.1   0.1         N       Steve Nash  $1,053,360   105   109
1135  17.8  -9.7   0.0         N  Jermaine O'Neal    $950,640    26    82

      EFF       GmSc
488     0  -0.066667
133     5   3.877778
590    22  15.766667
1114    0  -0.350000
1134   -1  -0.600000
489     7   5.246154
134     6   5.118182
591    20  11.780000
1115    6   4.075000
1135    0  -0.400000

[10 rows x 34 columns]

###Convert Season_Advance column [Salary] To Integer

In [13]:
def Salary_Convert(x):
    Salary = x[29] 
    # Salary : "$2,126,520"
    Salary_Int = Salary.replace('"', "").replace(',', "").replace('$', "")    
    return Salary_Int

#df_Season_Advance.info()
df_Season_Advance['Salary'] = df_Season_Advance.apply(Salary_Convert,axis =1)
print df_Season_Advance.sort_index(by=['Season','Tm','Name']).head(10)

       Season  Age   Tm   Lg Pos   G    MP   PER  TS_Per  three_Per  \
1246  1995-96   19  MIN  NBA  SF  80  2293  15.8   0.522      0.038
2838  1995-96   21  PHI  NBA  SG  72  2701  14.8   0.525      0.268
1015  1996-97   22  LAL  NBA  PG  80   921  11.0   0.491      0.279
259   1996-97   18  LAL  NBA  SG  71  1103  14.4   0.544      0.322
6     1996-97   21  MIL  NBA  SG  82  2532  14.6   0.541      0.328
1247  1996-97   20  MIN  NBA  SF  77  2995  18.2   0.537      0.019
2839  1996-97   22  PHI  NBA  SG  81  3166  14.1   0.524      0.261
2360  1996-97   22  PHO  NBA  PG  65   684  10.8   0.539      0.314
2393  1996-97   18  POR  NBA  PF  45   458  13.7   0.494      0.007
558   1997-98   21  BOS  NBA  PG  51  1296  15.4   0.530      0.416

        ...      DBPM  BPM  VORP  TranFlag              Name   Salary  ORtg  \
1246    ...       2.4  1.7   2.1         N     Kevin Garnett  1622000   107
2838    ...      -1.6 -1.4   0.4         N  Jerry Stackhouse  1987000   101
1015    ...      -1.0 -3.5  -0.3         N      Derek Fisher   612000    98
259     ...      -0.8 -1.7   0.1         N       Kobe Bryant  1015000   101
6       ...      -1.2  0.3   1.5         N         Ray Allen  1785000   109
1247    ...       2.6  2.9   3.7         N     Kevin Garnett  1666000   107
2839    ...      -2.2 -2.0   0.0         N  Jerry Stackhouse  2286000   102
2360    ...      -2.8 -4.6  -0.5         N        Steve Nash   916000   103
2393    ...      -1.1 -6.3  -0.5         N   Jermaine O'Neal   827000   100
558     ...      -1.9 -0.3   0.5         N  Chauncey Billups  2384640   105

      DRtg  EFF       GmSc
1246   107   14   9.515000
2838   115   14  12.034722
1015   106    3   2.648750
259    105    6   4.738028
6      110   12   8.953659
1247   105   21  14.583117
2839   115   14  12.204938
2360   112    4   2.440000
2393   102    4   2.806667
558    107   10   8.231373

[10 rows x 34 columns]

###Convert Playoffs_Advance column [Salary] To Integer

In [14]:
df_playoffs_Advance['Salary'] = df_playoffs_Advance.apply(Salary_Convert,axis =1)
print df_playoffs_Advance.sort_index(by=['Season','Tm','Name']).head(10)

       Season  Age   Tm   Lg Pos   G   MP   PER  TS_Per  three_Per    ...      \
488   1996-97   22  LAL  NBA  PG   6   34  -2.1   0.325      0.455    ...
133   1996-97   18  LAL  NBA  SG   9  133  12.5   0.543      0.418    ...
590   1996-97   20  MIN  NBA  SF   3  125  19.3   0.497      0.020    ...
1114  1996-97   22  PHO  NBA  PG   4   15  -5.1   0.278      0.444    ...
1134  1996-97   18  POR  NBA  PF   2    4 -16.6   0.000      0.500    ...
489   1997-98   23  LAL  NBA  PG  13  278  12.6   0.483      0.294    ...
134   1997-98   19  LAL  NBA  SG  11  220  12.8   0.501      0.184    ...
591   1997-98   21  MIN  NBA  PF   5  194  15.5   0.500      0.000    ...
1115  1997-98   23  PHO  NBA  PG   4   51  16.5   0.511      0.278    ...
1135  1997-98   19  POR  NBA  PF   1    3  -5.3   0.000      0.333    ...

      DBPM   BPM  VORP  TranFlag             Name   Salary  ORtg  DRtg  EFF  \
488   -1.3 -12.0  -0.1         N     Derek Fisher   612000    60   110    0
133   -1.5  -2.8   0.0         N      Kobe Bryant  1015000   100   110    5
590    4.1   1.6   0.1         N    Kevin Garnett  1666000   113   123   22
1114   2.4 -10.4   0.0         N       Steve Nash   916000    57   115    0
1134   2.9 -27.3   0.0         N  Jermaine O'Neal   827000     0    98   -1
489    0.9  -1.2   0.1         N     Derek Fisher   703200   106   111    7
134   -0.5  -3.5  -0.1         N      Kobe Bryant  1167240   106   116    6
591    5.7   1.6   0.2         N    Kevin Garnett  2109120    92   108   20
1115   1.9   2.1   0.1         N       Steve Nash  1053360   105   109    6
1135  17.8  -9.7   0.0         N  Jermaine O'Neal   950640    26    82    0

           GmSc
488   -0.066667
133    3.877778
590   15.766667
1114  -0.350000
1134  -0.600000
489    5.246154
134    5.118182
591   11.780000
1115   4.075000
1135  -0.400000

[10 rows x 34 columns]

###Output DataFrame to CSV ( with Name Column)

In [15]:
def Output_CSV(output_df,location):
    output_file = open(location, "ab")
    output_df.to_csv(output_file,index=False)
    output_file.close()
    
Season_Summary_location = "e:\\nba\\Season_Collection_with_Name.csv"
Output_CSV(df_Season_Advance.sort_index(by=['Season','Tm']),Season_Summary_location)

Playoffs_Summary_location = "e:\\nba\\Playoffs_Collection_with_Name.csv"
Output_CSV(df_playoffs_Advance.sort_index(by=['Season','Tm']),Playoffs_Summary_location)

###Remove column [Name]

In [16]:
df_Season_Advance = df_Season_Advance.drop('Name', 1)
df_playoffs_Advance = df_playoffs_Advance.drop('Name', 1)

###Missing value

In [17]:
df_Season_Advance = df_Season_Advance.fillna(0)
df_playoffs_Advance = df_playoffs_Advance.fillna(0)

###Output DataFrame to CSV

In [18]:
def Output_CSV(output_df,location):
    output_file = open(location, "ab")
    output_df.to_csv(output_file,index=False)
    output_file.close()
    
Season_Summary_location = "e:\\nba\\Season_Collection.csv"
Output_CSV(df_Season_Advance.sort_index(by=['Season','Tm']),Season_Summary_location)

Playoffs_Summary_location = "e:\\nba\\Playoffs_Collection.csv"
Output_CSV(df_playoffs_Advance.sort_index(by=['Season','Tm']),Playoffs_Summary_location)