#Basketball-reference Data Normalization and Regression

In [1]:
# special IPython command to prepare the notebook for matplotlib
from collections import defaultdict
from pandas.stats.api import ols
from sklearn.linear_model import LinearRegression

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import re
from sklearn import preprocessing
#import statsmodels.api as sm
#import statsmodels as sm

### Read Player Seaaon CSV

In [2]:
df_Season_Collect = pd.read_csv('e:\\nba\\Season_Collection.csv', header=0)

df_Season_Collect.info()
#df_Season_Collect.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3440 entries, 0 to 3439
Data columns (total 33 columns):
Season       3440 non-null object
Age          3440 non-null int64
Tm           3440 non-null object
Lg           3440 non-null object
Pos          3440 non-null object
G            3440 non-null int64
MP           3440 non-null int64
PER          3440 non-null float64
TS_Per       3440 non-null float64
three_Per    3440 non-null float64
FT_Per       3440 non-null float64
ORB_Per      3440 non-null float64
DRB_Per      3440 non-null float64
TRB_Per      3440 non-null float64
AST_Per      3440 non-null float64
STL_Per      3440 non-null float64
BLK_Per      3440 non-null float64
TOV_Per      3440 non-null float64
USG_Per      3440 non-null float64
OWS          3440 non-null float64
DWS          3440 non-null float64
WS           3440 non-null float64
WS48         3440 non-null float64
OBPM         3440 non-null float64
DBPM         3440 non-null float64
BPM          3440 non-null float64
VORP         3440 non-null float64
TranFlag     3440 non-null object
Salary       3440 non-null int64
ORtg         3440 non-null float64
DRtg         3440 non-null float64
EFF          3440 non-null int64
GmSc         3440 non-null float64
dtypes: float64(23), int64(5), object(5)
memory usage: 913.8+ KB

In [3]:
year_list = df_Season_Collect['Season'].unique()
print year_list
yearStr = year_list[2]

['1995-96' '1996-97' '1997-98' '1998-99' '1999-00' '2000-01' '2001-02'
 '2002-03' '2003-04' '2004-05' '2005-06' '2006-07' '2007-08' '2008-09'
 '2009-10' '2010-11' '2011-12' '2012-13' '2013-14' '2014-15']

In [4]:
year = df_Season_Collect['Season'].map(lambda x: x == yearStr)
df_year = df_Season_Collect[year]
df_year

,Season,Age,Tm,Lg,Pos,G,MP,PER,TS_Per,three_Per,...,OBPM,DBPM,BPM,VORP,TranFlag,Salary,ORtg,DRtg,EFF,GmSc
9,1997-98,21,BOS,NBA,PG,51,1296,15.4,0.530,0.416,...,1.5,-1.9,-0.3,0.5,N,2384640,105,107,10,8.231373
10,1997-98,19,LAL,NBA,SG,79,2056,18.5,0.548,0.241,...,1.9,-1.7,0.2,1.1,N,1167240,110,106,12,10.331646
11,1997-98,23,LAL,NBA,PG,82,1760,12.9,0.533,0.214,...,-0.5,-0.8,-1.3,0.3,N,703200,109,106,8,5.798780
12,1997-98,22,MIL,NBA,SG,82,3287,16.2,0.539,0.280,...,2.6,-0.8,1.8,3.2,N,2052360,106,108,17,13.017073
13,1997-98,21,MIN,NBA,PF,82,3222,20.4,0.527,0.012,...,1.9,2.9,4.8,5.5,N,2109120,109,103,24,16.618293
14,1997-98,23,PHI,NBA,SF,22,748,14.9,0.539,0.163,...,-0.2,-0.3,-0.5,0.3,N,2583360,99,107,13,10.377273
15,1997-98,23,PHO,NBA,PG,76,1664,15.6,0.556,0.334,...,1.8,-1.2,0.5,1.1,N,1053360,111,105,9,7.086842
16,1997-98,19,POR,NBA,PF,60,808,12.7,0.498,0.009,...,-4.2,1.1,-3.0,-0.2,N,950640,96,100,5,3.315000
17,1997-98,21,SAS,NBA,PF,82,3204,22.6,0.577,0.008,...,1.8,3.7,5.5,6.0,N,2967840,108,95,26,17.382927

###Normalization Function

In [5]:
def Normalization(df_data):
    df_norm = ((df_data - df_data.min()) / (df_data.max() - df_data.min()))
    return df_norm

###Column Index

In [8]:
norm_column = ['Age','G','MP','EFF','GmSc','PER','ORtg','DRtg','AST_Per','STL_Per','BLK_Per',
             'TOV_Per','TS_Per','FT_Per','three_Per','ORB_Per','DRB_Per','TRB_Per','USG_Per','Salary']

###Season Data Normalization

In [9]:
df_tmp = df_year[norm_column] 
df_norm = Normalization(df_tmp)
df_norm

,Age,G,MP,EFF,GmSc,PER,ORtg,DRtg,AST_Per,STL_Per,BLK_Per,TOV_Per,TS_Per,FT_Per,three_Per,ORB_Per,DRB_Per,TRB_Per,USG_Per,Salary
9,0.50,0.483333,0.215833,0.238095,0.349474,0.272727,0.600000,0.923077,0.987179,1.000000,0.000000,0.677419,0.405063,0.703390,1.000000,0.104167,0.000000,0.000,0.580153,0.742476
10,0.00,0.950000,0.515163,0.333333,0.498769,0.585859,0.933333,0.846154,0.529915,0.409091,0.235294,0.064516,0.632911,1.000000,0.571078,0.229167,0.084848,0.128,1.000000,0.204907
11,1.00,1.000000,0.398582,0.142857,0.176556,0.020202,0.866667,0.846154,1.000000,0.590909,0.019608,1.000000,0.443038,0.720339,0.504902,0.020833,0.145455,0.088,0.000000,0.000000
12,0.75,1.000000,1.000000,0.571429,0.689659,0.353535,0.666667,1.000000,0.670940,0.409091,0.039216,0.344086,0.518987,0.423729,0.666667,0.250000,0.187879,0.192,0.778626,0.595750
13,0.50,1.000000,0.974399,0.904762,0.945647,0.777778,0.866667,0.615385,0.623932,0.590909,0.627451,0.000000,0.367089,0.310734,0.009804,0.583333,0.751515,0.704,0.641221,0.620814
14,1.00,0.000000,0.000000,0.380952,0.502012,0.222222,0.200000,0.923077,0.547009,0.590909,0.392157,0.709677,0.518987,0.593220,0.379902,0.208333,0.006061,0.056,0.763359,0.830225
15,1.00,0.900000,0.360772,0.190476,0.268116,0.292929,1.000000,0.769231,0.923077,0.500000,0.019608,0.193548,0.734177,0.000000,0.799020,0.000000,0.090909,0.040,0.419847,0.154621
16,0.00,0.633333,0.023631,0.000000,0.000000,0.000000,0.000000,0.384615,0.000000,0.045455,1.000000,0.548387,0.000000,0.672316,0.002451,1.000000,0.575758,0.752,0.312977,0.109262
17,0.50,1.000000,0.967310,1.000000,1.000000,1.000000,0.800000,0.000000,0.431624,0.000000,0.862745,0.419355,1.000000,0.644068,0.000000,0.854167,1.000000,1.000,0.908397,1.000000

In [10]:
df_Season_norm = pd.DataFrame(columns=df_norm.columns)
df_Season_norm

Empty DataFrame
Columns: [Age, G, MP, EFF, GmSc, PER, ORtg, DRtg, AST_Per, STL_Per, BLK_Per, TOV_Per, TS_Per, FT_Per, three_Per, ORB_Per, DRB_Per, TRB_Per, USG_Per, Salary]
Index: []

In [11]:
for yearStr in year_list:
    year = df_Season_Collect['Season'].map(lambda x: x == yearStr)
    df_year = df_Season_Collect[year]
    df_data = df_year[norm_column]
    df_norm = Normalization(df_data)    
    df_Season_norm = df_Season_norm.append(df_norm)

In [12]:
df_Season_norm.info()
df_Season_norm.head(10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3440 entries, 0 to 3439
Data columns (total 20 columns):
Age          3440 non-null float64
G            3440 non-null float64
MP           3440 non-null float64
EFF          3438 non-null float64
GmSc         3440 non-null float64
PER          3440 non-null float64
ORtg         3440 non-null float64
DRtg         3440 non-null float64
AST_Per      3440 non-null float64
STL_Per      3440 non-null float64
BLK_Per      3440 non-null float64
TOV_Per      3440 non-null float64
TS_Per       3440 non-null float64
FT_Per       3440 non-null float64
three_Per    3440 non-null float64
ORB_Per      3440 non-null float64
DRB_Per      3440 non-null float64
TRB_Per      3440 non-null float64
USG_Per      3440 non-null float64
Salary       3440 non-null float64
dtypes: float64(20)
memory usage: 564.4 KB

,Age,G,MP,EFF,GmSc,PER,ORtg,DRtg,AST_Per,STL_Per,BLK_Per,TOV_Per,TS_Per,FT_Per,three_Per,ORB_Per,DRB_Per,TRB_Per,USG_Per,Salary
0,0.00,1.000000,0.000000,NaN,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000
1,1.00,0.000000,1.000000,NaN,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000
2,0.00,0.702703,0.238183,0.166667,0.189245,0.486486,0.272727,0.230769,0.409774,1.000000,0.363636,0.512821,1.000000,0.555133,0.981308,0.276316,0.153333,0.132075,0.894118,0.240741
3,1.00,0.945946,0.170975,0.000000,0.017191,0.027027,0.000000,0.307692,0.646617,1.000000,0.090909,0.504274,0.000000,0.802281,0.847352,0.039474,0.160000,0.056604,0.200000,0.000000
4,0.75,1.000000,0.765879,0.500000,0.536407,0.513514,1.000000,0.615385,0.413534,0.666667,0.068182,0.025641,0.943396,0.102662,1.000000,0.250000,0.306667,0.235849,0.505882,0.700717
5,0.50,0.864865,0.936854,1.000000,1.000000,1.000000,0.818182,0.230769,0.421053,0.809524,0.931818,0.000000,0.867925,0.000000,0.037383,0.631579,0.693333,0.641509,0.494118,0.629630
6,1.00,0.972973,1.000000,0.611111,0.804154,0.445946,0.363636,1.000000,0.398496,0.619048,0.318182,0.341880,0.622642,1.000000,0.791277,0.315789,0.000000,0.037736,1.000000,1.000000
7,1.00,0.540541,0.083456,0.055556,0.000000,0.000000,0.454545,0.769231,1.000000,0.619048,0.000000,1.000000,0.905660,0.167300,0.956386,0.000000,0.106667,0.000000,0.000000,0.181601
8,0.00,0.000000,0.000000,0.055556,0.030195,0.391892,0.181818,0.000000,0.000000,0.000000,1.000000,0.008547,0.056604,1.000000,0.000000,1.000000,1.000000,1.000000,0.470588,0.128435
9,0.50,0.483333,0.215833,0.238095,0.349474,0.272727,0.600000,0.923077,0.987179,1.000000,0.000000,0.677419,0.405063,0.703390,1.000000,0.104167,0.000000,0.000000,0.580153,0.742476

###Statistical indicators

In [13]:
vars_list = ['Age','G','MP','EFF','GmSc','PER','ORtg','DRtg','AST_Per','STL_Per','BLK_Per',
             'TOV_Per','TS_Per','FT_Per','three_Per','ORB_Per','DRB_Per','TRB_Per','USG_Per']

###Regression

In [14]:
res_Season = ols(y=df_Season_Collect['Salary'], x=df_Season_Collect[vars_list])
res_Season

-------------------------Summary of Regression Analysis-------------------------

Formula: Y ~ <Age> + <G> + <MP> + <EFF> + <GmSc> + <PER> + <ORtg> + <DRtg>
             + <AST_Per> + <STL_Per> + <BLK_Per> + <TOV_Per> + <TS_Per> + <FT_Per>
             + <three_Per> + <ORB_Per> + <DRB_Per> + <TRB_Per> + <USG_Per>
             + <intercept>

Number of Observations:         3440
Number of Degrees of Freedom:   20

R-squared:         0.5695
Adj R-squared:     0.5671

Rmse:          3062239.8337

F-stat (19, 3420):   238.1065, p-value:     0.0000

Degrees of Freedom: model 19, resid 3420

-----------------------Summary of Estimated Coefficients------------------------
      Variable       Coef    Std Err     t-stat    p-value    CI 2.5%   CI 97.5%
--------------------------------------------------------------------------------
           Age 455739.5157 14553.0942      31.32     0.0000 427215.4511 484263.5803
             G  4463.0284  5984.6157       0.75     0.4559 -7266.8184 16192.8752
            MP  -832.5727   235.8296      -3.53     0.0004 -1294.7986  -370.3467
           EFF 298628.8871 82776.6199       3.61     0.0003 136386.7121 460871.0620
          GmSc 308979.9775 116305.6820       2.66     0.0079 81020.8408 536939.1142
--------------------------------------------------------------------------------
           PER -26190.3926 33358.6112      -0.79     0.4324 -91573.2706 39192.4855
          ORtg   737.3967 14817.2700       0.05     0.9603 -28304.4526 29779.2459
          DRtg 19193.9745 15580.3694       1.23     0.2181 -11343.5495 49731.4985
       AST_Per -40219.5001 11501.9786      -3.50     0.0005 -62763.3781 -17675.6221
       STL_Per -253672.7771 87736.2765      -2.89     0.0039 -425635.8790 -81709.6751
--------------------------------------------------------------------------------
       BLK_Per 74656.5112 44215.3326       1.69     0.0914 -12005.5407 161318.5631
       TOV_Per 35198.7275 16866.3900       2.09     0.0370  2140.6032 68256.8518
        TS_Per -4471585.7025 2286142.2367      -1.96     0.0506 -8952424.4863  9253.0814
        FT_Per 296945.4843 279948.9337       1.06     0.2889 -251754.4257 845645.3943
     three_Per -1115699.3172 399862.4923      -2.79     0.0053 -1899429.8021 -331968.8324
--------------------------------------------------------------------------------
       ORB_Per -945928.6483 210253.8434      -4.50     0.0000 -1358026.1814 -533831.1151
       DRB_Per -801593.2254 209386.2063      -3.83     0.0001 -1211990.1898 -391196.2610
       TRB_Per 1699650.0579 419422.2157       4.05     0.0001 877582.5150 2521717.6007
       USG_Per 109557.0506 18183.8614       6.02     0.0000 73916.6822 145197.4190
     intercept -12778349.0900 1895782.1082      -6.74     0.0000 -16494082.0221 -9062616.1579
---------------------------------End of Summary---------------------------------

###Normalization Regression

In [15]:
res_Season_norm = ols(y=df_Season_norm['Salary'], x=df_Season_norm[vars_list])
res_Season_norm

-------------------------Summary of Regression Analysis-------------------------

Formula: Y ~ <Age> + <G> + <MP> + <EFF> + <GmSc> + <PER> + <ORtg> + <DRtg>
             + <AST_Per> + <STL_Per> + <BLK_Per> + <TOV_Per> + <TS_Per> + <FT_Per>
             + <three_Per> + <ORB_Per> + <DRB_Per> + <TRB_Per> + <USG_Per>
             + <intercept>

Number of Observations:         3438
Number of Degrees of Freedom:   20

R-squared:         0.5651
Adj R-squared:     0.5627

Rmse:              0.1307

F-stat (19, 3418):   233.7530, p-value:     0.0000

Degrees of Freedom: model 19, resid 3418

-----------------------Summary of Estimated Coefficients------------------------
      Variable       Coef    Std Err     t-stat    p-value    CI 2.5%   CI 97.5%
--------------------------------------------------------------------------------
           Age     0.3000     0.0105      28.53     0.0000     0.2794     0.3206
             G    -0.0400     0.0185      -2.17     0.0302    -0.0762    -0.0038
            MP    -0.0208     0.0289      -0.72     0.4718    -0.0774     0.0358
           EFF     0.4060     0.0789       5.15     0.0000     0.2515     0.5606
          GmSc     0.1943     0.0847       2.29     0.0219     0.0283     0.3604
--------------------------------------------------------------------------------
           PER     0.0760     0.0218       3.49     0.0005     0.0333     0.1187
          ORtg     0.0051     0.0267       0.19     0.8488    -0.0473     0.0575
          DRtg    -0.0124     0.0155      -0.80     0.4224    -0.0428     0.0180
       AST_Per    -0.0894     0.0178      -5.02     0.0000    -0.1243    -0.0546
       STL_Per    -0.0738     0.0146      -5.05     0.0000    -0.1025    -0.0452
--------------------------------------------------------------------------------
       BLK_Per     0.0316     0.0157       2.01     0.0445     0.0008     0.0624
       TOV_Per     0.1022     0.0207       4.93     0.0000     0.0616     0.1428
        TS_Per    -0.1430     0.0307      -4.66     0.0000    -0.2031    -0.0828
        FT_Per    -0.0352     0.0157      -2.23     0.0255    -0.0660    -0.0043
     three_Per    -0.0400     0.0134      -2.98     0.0029    -0.0664    -0.0137
--------------------------------------------------------------------------------
       ORB_Per    -0.1556     0.0333      -4.67     0.0000    -0.2209    -0.0903
       DRB_Per    -0.0602     0.0457      -1.32     0.1872    -0.1497     0.0293
       TRB_Per     0.1523     0.0705       2.16     0.0309     0.0140     0.2905
       USG_Per     0.1044     0.0170       6.14     0.0000     0.0711     0.1377
     intercept    -0.0742     0.0234      -3.17     0.0015    -0.1200    -0.0284
---------------------------------End of Summary---------------------------------

###Output Season Normalization Data TO CSV

In [16]:
def Output_CSV(output_df,location):
    output_file = open(location, "ab")
    output_df.to_csv(output_file,index=False)
    output_file.close()
    
Season_Normalization_location = "e:\\nba\\Season_Normalization.csv"
Output_CSV(df_Season_norm,Season_Normalization_location)

###Read Player Playoffs CSV

In [17]:
df_Playoffs_Collect = pd.read_csv('e:\\nba\\Playoffs_Collection.csv', header=0)

df_Playoffs_Collect.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1595 entries, 0 to 1594
Data columns (total 33 columns):
Season       1595 non-null object
Age          1595 non-null int64
Tm           1595 non-null object
Lg           1595 non-null object
Pos          1595 non-null object
G            1595 non-null int64
MP           1595 non-null int64
PER          1595 non-null float64
TS_Per       1595 non-null float64
three_Per    1595 non-null float64
FT_Per       1595 non-null float64
ORB_Per      1595 non-null float64
DRB_Per      1595 non-null float64
TRB_Per      1595 non-null float64
AST_Per      1595 non-null float64
STL_Per      1595 non-null float64
BLK_Per      1595 non-null float64
TOV_Per      1595 non-null float64
USG_Per      1595 non-null float64
OWS          1595 non-null float64
DWS          1595 non-null float64
WS           1595 non-null float64
WS48         1595 non-null float64
OBPM         1595 non-null float64
DBPM         1595 non-null float64
BPM          1595 non-null float64
VORP         1595 non-null float64
TranFlag     1595 non-null object
Salary       1595 non-null int64
ORtg         1595 non-null float64
DRtg         1595 non-null float64
EFF          1595 non-null int64
GmSc         1595 non-null float64
dtypes: float64(23), int64(5), object(5)
memory usage: 423.7+ KB

###Playoffs Data Normalization

In [18]:
df_Playoffs_norm = pd.DataFrame(columns=df_norm.columns)
df_Playoffs_norm

Empty DataFrame
Columns: [Age, G, MP, EFF, GmSc, PER, ORtg, DRtg, AST_Per, STL_Per, BLK_Per, TOV_Per, TS_Per, FT_Per, three_Per, ORB_Per, DRB_Per, TRB_Per, USG_Per, Salary]
Index: []

In [19]:
for yearStr in year_list:
    year = df_Playoffs_Collect['Season'].map(lambda x: x == yearStr)
    df_year = df_Playoffs_Collect[year]
    df_data = df_year[norm_column]
    df_norm = Normalization(df_data)    
    df_Playoffs_norm = df_Playoffs_norm.append(df_norm)

df_Playoffs_norm.info()
df_Playoffs_norm.head(10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1595 entries, 0 to 1594
Data columns (total 20 columns):
Age          1595 non-null float64
G            1595 non-null float64
MP           1595 non-null float64
EFF          1595 non-null float64
GmSc         1595 non-null float64
PER          1595 non-null float64
ORtg         1595 non-null float64
DRtg         1595 non-null float64
AST_Per      1595 non-null float64
STL_Per      1595 non-null float64
BLK_Per      1595 non-null float64
TOV_Per      1595 non-null float64
TS_Per       1595 non-null float64
FT_Per       1595 non-null float64
three_Per    1595 non-null float64
ORB_Per      1595 non-null float64
DRB_Per      1595 non-null float64
TRB_Per      1595 non-null float64
USG_Per      1595 non-null float64
Salary       1595 non-null float64
dtypes: float64(20)
memory usage: 261.7 KB

,Age,G,MP,EFF,GmSc,PER,ORtg,DRtg,AST_Per,STL_Per,BLK_Per,TOV_Per,TS_Per,FT_Per,three_Per,ORB_Per,DRB_Per,TRB_Per,USG_Per,Salary
0,0.0,1.000000,1.000000,0.260870,0.273591,0.810585,0.884956,0.480000,0.534202,0.382353,0.061905,0.518293,1.000000,0.545000,0.829167,0.078947,0.279635,0.109244,0.671429,0.382353
1,1.0,0.571429,0.232558,0.043478,0.032587,0.403900,0.530973,0.480000,1.000000,0.470588,0.000000,1.000000,0.598527,0.273000,0.906250,0.000000,0.328267,0.134454,0.392857,0.000000
2,0.5,0.142857,0.937984,1.000000,1.000000,1.000000,1.000000,1.000000,0.446254,0.500000,0.109524,0.216463,0.915285,0.059000,0.000000,1.000000,0.458967,0.773109,0.000000,1.000000
3,1.0,0.285714,0.085271,0.043478,0.015275,0.320334,0.504425,0.680000,0.381107,1.000000,0.257143,0.554878,0.511971,0.000000,0.883333,0.675439,0.000000,0.000000,0.857143,0.288425
4,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.203985
5,0.0,0.833333,0.584906,0.272727,0.346088,0.704280,0.987654,1.000000,0.443223,0.212121,0.048913,0.472477,0.896243,1.000000,0.552553,0.077540,0.378641,0.027027,0.229682,0.204907
6,1.0,1.000000,0.741240,0.318182,0.354114,0.696498,0.987654,0.852941,1.000000,1.000000,0.000000,0.720183,0.864043,0.719595,0.882883,0.000000,0.495146,0.000000,0.000000,0.000000
7,0.5,0.333333,0.514825,0.909091,0.763902,0.809339,0.814815,0.764706,0.747253,0.333333,0.097826,1.000000,0.894454,0.202703,0.000000,0.235294,1.000000,0.635135,0.293286,0.620814
8,1.0,0.250000,0.129380,0.272727,0.280662,0.848249,0.975309,0.794118,0.820513,0.636364,0.000000,0.559633,0.914132,0.750000,0.834835,0.085561,0.941748,0.385135,0.208481,0.154621
9,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.109262

###Regression Playoffs

In [20]:
res_playoffs = ols(y=df_Playoffs_Collect['Salary'], x=df_Playoffs_Collect[vars_list])
res_playoffs

-------------------------Summary of Regression Analysis-------------------------

Formula: Y ~ <Age> + <G> + <MP> + <EFF> + <GmSc> + <PER> + <ORtg> + <DRtg>
             + <AST_Per> + <STL_Per> + <BLK_Per> + <TOV_Per> + <TS_Per> + <FT_Per>
             + <three_Per> + <ORB_Per> + <DRB_Per> + <TRB_Per> + <USG_Per>
             + <intercept>

Number of Observations:         1595
Number of Degrees of Freedom:   20

R-squared:         0.5489
Adj R-squared:     0.5435

Rmse:          3514007.4737

F-stat (19, 1575):   100.8708, p-value:     0.0000

Degrees of Freedom: model 19, resid 1575

-----------------------Summary of Estimated Coefficients------------------------
      Variable       Coef    Std Err     t-stat    p-value    CI 2.5%   CI 97.5%
--------------------------------------------------------------------------------
           Age 488565.1787 23059.7632      21.19     0.0000 443368.0427 533762.3146
             G -96760.1699 34974.7574      -2.77     0.0057 -165310.6945 -28209.6454
            MP  3402.3269  1176.2541       2.89     0.0039  1096.8689  5707.7848
           EFF 280426.1593 92071.9651       3.05     0.0024 99965.1077 460887.2110
          GmSc 88995.3129 125703.5001       0.71     0.4791 -157383.5474 335374.1732
--------------------------------------------------------------------------------
           PER -5915.8317 22188.4413      -0.27     0.7898 -49405.1767 37573.5133
          ORtg   206.1620  7485.7053       0.03     0.9780 -14465.8204 14878.1444
          DRtg 10765.2787 14723.6880       0.73     0.4648 -18093.1499 39623.7072
       AST_Per -29314.4515 11546.3388      -2.54     0.0112 -51945.2756 -6683.6274
       STL_Per -159269.5280 77555.3828      -2.05     0.0402 -311278.0782 -7260.9777
--------------------------------------------------------------------------------
       BLK_Per 56529.5380 42283.0509       1.34     0.1814 -26345.2418 139404.3177
       TOV_Per 20402.8643 13214.0630       1.54     0.1228 -5496.6992 46302.4278
        TS_Per -2472791.2430 1318184.0863      -1.88     0.0609 -5056432.0522 110849.5662
        FT_Per -89744.8210 313701.9189      -0.29     0.7749 -704600.5821 525110.9400
     three_Per -2755237.1604 475378.4479      -5.80     0.0000 -3686978.9183 -1823495.4025
--------------------------------------------------------------------------------
       ORB_Per -149260.9624 188056.3381      -0.79     0.4275 -517851.3851 219329.4603
       DRB_Per -72901.9723 182836.4102      -0.40     0.6901 -431261.3362 285457.3916
       TRB_Per 185434.3730 369364.2538       0.50     0.6157 -538519.5643 909388.3104
       USG_Per 103289.8100 17329.5986       5.96     0.0000 69323.7968 137255.8232
     intercept -11738604.8721 1817856.0687      -6.46     0.0000 -15301602.7668 -8175606.9774
---------------------------------End of Summary---------------------------------

###Playoffs Normalization Regression

In [21]:
res_Playoffs_norm = ols(y=df_Playoffs_norm['Salary'], x=df_Playoffs_norm[vars_list])
res_Playoffs_norm

-------------------------Summary of Regression Analysis-------------------------

Formula: Y ~ <Age> + <G> + <MP> + <EFF> + <GmSc> + <PER> + <ORtg> + <DRtg>
             + <AST_Per> + <STL_Per> + <BLK_Per> + <TOV_Per> + <TS_Per> + <FT_Per>
             + <three_Per> + <ORB_Per> + <DRB_Per> + <TRB_Per> + <USG_Per>
             + <intercept>

Number of Observations:         1595
Number of Degrees of Freedom:   20

R-squared:         0.5427
Adj R-squared:     0.5372

Rmse:              0.1666

F-stat (19, 1575):    98.3924, p-value:     0.0000

Degrees of Freedom: model 19, resid 1575

-----------------------Summary of Estimated Coefficients------------------------
      Variable       Coef    Std Err     t-stat    p-value    CI 2.5%   CI 97.5%
--------------------------------------------------------------------------------
           Age     0.3323     0.0182      18.31     0.0000     0.2967     0.3679
             G    -0.1464     0.0332      -4.40     0.0000    -0.2115    -0.0812
            MP     0.2225     0.0482       4.61     0.0000     0.1280     0.3171
           EFF     0.4213     0.1209       3.48     0.0005     0.1843     0.6584
          GmSc     0.0553     0.1220       0.45     0.6503    -0.1839     0.2946
--------------------------------------------------------------------------------
           PER     0.0242     0.0315       0.77     0.4430    -0.0376     0.0859
          ORtg    -0.1317     0.0409      -3.22     0.0013    -0.2119    -0.0514
          DRtg     0.0073     0.0230       0.32     0.7501    -0.0377     0.0523
       AST_Per    -0.0065     0.0252      -0.26     0.7961    -0.0558     0.0428
       STL_Per    -0.1456     0.0264      -5.51     0.0000    -0.1974    -0.0938
--------------------------------------------------------------------------------
       BLK_Per     0.0145     0.0250       0.58     0.5608    -0.0344     0.0634
       TOV_Per    -0.0087     0.0297      -0.29     0.7702    -0.0669     0.0495
        TS_Per    -0.0008     0.0365      -0.02     0.9835    -0.0723     0.0708
        FT_Per     0.0226     0.0260       0.87     0.3857    -0.0284     0.0735
     three_Per    -0.1003     0.0188      -5.33     0.0000    -0.1372    -0.0634
--------------------------------------------------------------------------------
       ORB_Per    -0.0931     0.0436      -2.13     0.0329    -0.1786    -0.0076
       DRB_Per    -0.0033     0.0581      -0.06     0.9542    -0.1172     0.1105
       TRB_Per     0.1173     0.0752       1.56     0.1190    -0.0301     0.2647
       USG_Per     0.0944     0.0267       3.53     0.0004     0.0420     0.1467
     intercept    -0.0428     0.0272      -1.57     0.1160    -0.0962     0.0105
---------------------------------End of Summary---------------------------------

###Output Playoffs Normalization Data TO CSVÂ¶

In [22]:
Playoffs_Normalization_location = "e:\\nba\\Playoffs_Normalization.csv"
Output_CSV(df_Playoffs_norm,Playoffs_Normalization_location)