#Basketball-reference Data GroupBy

In [1]:
# special IPython command to prepare the notebook for matplotlib
from collections import defaultdict

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import re

### Read Player Season CSV

In [2]:
df_Season = pd.read_csv('e:\\nba\\Season_Quartile_with_Name.csv', header=0)

df_Season.info()
#df_Season.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3440 entries, 0 to 3439
Data columns (total 39 columns):
Season       3440 non-null object
Age          3440 non-null float64
Tm           3440 non-null object
Lg           3440 non-null object
Pos          3440 non-null object
G            3440 non-null float64
MP           3440 non-null float64
PER          3439 non-null float64
TS_Per       3435 non-null float64
three_Per    3434 non-null float64
FT_Per       3434 non-null float64
ORB_Per      3439 non-null float64
DRB_Per      3439 non-null float64
TRB_Per      3439 non-null float64
AST_Per      3439 non-null float64
STL_Per      3439 non-null float64
BLK_Per      3439 non-null float64
TOV_Per      3436 non-null float64
USG_Per      3439 non-null float64
OWS          3440 non-null float64
DWS          3440 non-null float64
WS           3440 non-null float64
WS48         3439 non-null float64
OBPM         3440 non-null float64
DBPM         3440 non-null float64
BPM          3440 non-null float64
VORP         3440 non-null float64
TranFlag     3440 non-null object
Name         3440 non-null object
Salary       3440 non-null float64
ORtg         3436 non-null float64
DRtg         3439 non-null float64
EFF          3440 non-null float64
GmSc         3440 non-null float64
Q1           3440 non-null float64
Q2           3440 non-null float64
Q3           3440 non-null float64
Q4           3440 non-null float64
Quartile     3440 non-null object
dtypes: float64(32), object(7)
memory usage: 1.0+ MB

###GroupBy

In [3]:
Season_grouped = df_Season.groupby('Name')
len(Season_grouped)

536

In [4]:
def compare(a,b):
    if a > b:
        return 1
    elif a< b:
        return -1
    else:
        return 0

In [5]:
def EFFcalc(length,df_tmp):
    df_result = pd.DataFrame(columns=name_list)
    #print "length",len(df_tmp)
    
    for i in xrange(length):
        if i == 0:
            curt = df_tmp.iloc[i].values.tolist()            
            curt.append(0)            
            df_result.loc[len(df_result)] = curt
            #print len(df_result),df_result[['Season','Name']]
            #print "length",len(df_result)
        else:
            curt = df_tmp.iloc[i].values.tolist()
            last = df_tmp.iloc[i-1].values.tolist()
            result = compare(curt[32],last[32])            
            
            curt.append(result)
            #print "curt in body",curt
            df_result.loc[len(df_result)] = curt
        
    #print df_result[['Season','Name']]
    #print "length",len(df_result)
    return df_result

In [6]:
def GroupDataCalc (df_grouped):
    df_output = pd.DataFrame(columns=name_list)    
    for Name,df_tmp in df_grouped:
        if len(df_tmp) == 1:            
            curt = df_tmp.iloc[0].values.tolist()
            curt.append(0)        
            df_output.loc[len(df_output)] = curt
            #df_Season_output.append(df_tmp)
        else:            
            df_result = EFFcalc(len(df_tmp),df_tmp)
            df_output = df_output.append(df_result)
    return df_output

In [7]:
name_list = list(df_Season.columns)
name_list.append('LastYearEFF')

In [8]:
df_Season_result = GroupDataCalc(Season_grouped)
df_Season_result.info()
#df_Season_result.head(20)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3440 entries, 0 to 11
Data columns (total 40 columns):
Season         3440 non-null object
Age            3440 non-null float64
Tm             3440 non-null object
Lg             3440 non-null object
Pos            3440 non-null object
G              3440 non-null float64
MP             3440 non-null float64
PER            3439 non-null float64
TS_Per         3435 non-null float64
three_Per      3434 non-null float64
FT_Per         3434 non-null float64
ORB_Per        3439 non-null float64
DRB_Per        3439 non-null float64
TRB_Per        3439 non-null float64
AST_Per        3439 non-null float64
STL_Per        3439 non-null float64
BLK_Per        3439 non-null float64
TOV_Per        3436 non-null float64
USG_Per        3439 non-null float64
OWS            3440 non-null float64
DWS            3440 non-null float64
WS             3440 non-null float64
WS48           3439 non-null float64
OBPM           3440 non-null float64
DBPM           3440 non-null float64
BPM            3440 non-null float64
VORP           3440 non-null float64
TranFlag       3440 non-null object
Name           3440 non-null object
Salary         3440 non-null float64
ORtg           3436 non-null float64
DRtg           3439 non-null float64
EFF            3440 non-null float64
GmSc           3440 non-null float64
Q1             3440 non-null float64
Q2             3440 non-null float64
Q3             3440 non-null float64
Q4             3440 non-null float64
Quartile       3440 non-null object
LastYearEFF    3440 non-null float64
dtypes: float64(33), object(7)
memory usage: 1.1+ MB

###Read Player Playoffs CSV

In [9]:
df_Playoffs = pd.read_csv('e:\\nba\\Playoffs_Quartile_with_Name.csv', header=0)

df_Playoffs.info()
#df_Playoffs.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1595 entries, 0 to 1594
Data columns (total 39 columns):
Season       1595 non-null object
Age          1595 non-null float64
Tm           1595 non-null object
Lg           1595 non-null object
Pos          1595 non-null object
G            1595 non-null float64
MP           1595 non-null float64
PER          1593 non-null float64
TS_Per       1570 non-null float64
three_Per    1563 non-null float64
FT_Per       1563 non-null float64
ORB_Per      1593 non-null float64
DRB_Per      1593 non-null float64
TRB_Per      1593 non-null float64
AST_Per      1593 non-null float64
STL_Per      1593 non-null float64
BLK_Per      1593 non-null float64
TOV_Per      1572 non-null float64
USG_Per      1593 non-null float64
OWS          1595 non-null float64
DWS          1595 non-null float64
WS           1595 non-null float64
WS48         1593 non-null float64
OBPM         1595 non-null float64
DBPM         1595 non-null float64
BPM          1595 non-null float64
VORP         1595 non-null float64
TranFlag     1595 non-null object
Name         1595 non-null object
Salary       1595 non-null float64
ORtg         1576 non-null float64
DRtg         1593 non-null float64
EFF          1595 non-null float64
GmSc         1595 non-null float64
Q1           1595 non-null float64
Q2           1595 non-null float64
Q3           1595 non-null float64
Q4           1595 non-null float64
Quartile     1595 non-null object
dtypes: float64(32), object(7)
memory usage: 498.4+ KB

In [10]:
Playoffs_grouped = df_Playoffs.groupby('Name')
len(Playoffs_grouped)

415

In [11]:
df_Playoffs_result = GroupDataCalc(Playoffs_grouped)
df_Playoffs_result.info()
#f_Playoffs_result.head(20)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1595 entries, 0 to 4
Data columns (total 40 columns):
Season         1595 non-null object
Age            1595 non-null float64
Tm             1595 non-null object
Lg             1595 non-null object
Pos            1595 non-null object
G              1595 non-null float64
MP             1595 non-null float64
PER            1593 non-null float64
TS_Per         1570 non-null float64
three_Per      1563 non-null float64
FT_Per         1563 non-null float64
ORB_Per        1593 non-null float64
DRB_Per        1593 non-null float64
TRB_Per        1593 non-null float64
AST_Per        1593 non-null float64
STL_Per        1593 non-null float64
BLK_Per        1593 non-null float64
TOV_Per        1572 non-null float64
USG_Per        1593 non-null float64
OWS            1595 non-null float64
DWS            1595 non-null float64
WS             1595 non-null float64
WS48           1593 non-null float64
OBPM           1595 non-null float64
DBPM           1595 non-null float64
BPM            1595 non-null float64
VORP           1595 non-null float64
TranFlag       1595 non-null object
Name           1595 non-null object
Salary         1595 non-null float64
ORtg           1576 non-null float64
DRtg           1593 non-null float64
EFF            1595 non-null float64
GmSc           1595 non-null float64
Q1             1595 non-null float64
Q2             1595 non-null float64
Q3             1595 non-null float64
Q4             1595 non-null float64
Quartile       1595 non-null object
LastYearEFF    1595 non-null float64
dtypes: float64(33), object(7)
memory usage: 510.9+ KB

###Feature Column to Weka

In [12]:
Feature_list = ['Age','G','MP','EFF','GmSc','PER','ORtg','DRtg','AST_Per','STL_Per','BLK_Per','TOV_Per','TS_Per',
                'FT_Per','three_Per','ORB_Per','DRB_Per','TRB_Per','USG_Per','LastYearEFF','Quartile']

In [19]:
#df_Season_output = df_Season_result[Feature_list]
df_Season_output.fillna(0)
df_Season_output.info()
df_Season_output.head(5)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3440 entries, 0 to 11
Data columns (total 21 columns):
Age            3440 non-null float64
G              3440 non-null float64
MP             3440 non-null float64
EFF            3440 non-null float64
GmSc           3440 non-null float64
PER            3439 non-null float64
ORtg           3436 non-null float64
DRtg           3439 non-null float64
AST_Per        3439 non-null float64
STL_Per        3439 non-null float64
BLK_Per        3439 non-null float64
TOV_Per        3436 non-null float64
TS_Per         3435 non-null float64
FT_Per         3434 non-null float64
three_Per      3434 non-null float64
ORB_Per        3439 non-null float64
DRB_Per        3439 non-null float64
TRB_Per        3439 non-null float64
USG_Per        3439 non-null float64
LastYearEFF    3440 non-null float64
Quartile       3440 non-null object
dtypes: float64(20), object(1)
memory usage: 591.2+ KB

,Age,G,MP,EFF,GmSc,PER,ORtg,DRtg,AST_Per,STL_Per,...,TOV_Per,TS_Per,FT_Per,three_Per,ORB_Per,DRB_Per,TRB_Per,USG_Per,LastYearEFF,Quartile
0,23,56,865,6,4.937500,14.0,102,108,20.5,2.0,...,13.2,0.530,0.212,0.492,1.5,9.7,5.6,22.7,0,Q1
1,24,50,795,5,3.836000,10.7,95,109,22.7,1.8,...,13.0,0.454,0.253,0.466,2.3,7.8,5.0,22.7,-1,Q1
2,25,44,568,4,3.002273,11.5,100,106,23.9,1.9,...,14.5,0.454,0.201,0.506,2.6,9.4,6.0,17.7,-1,Q1
3,26,57,1278,8,5.942105,12.4,105,107,26.4,1.3,...,12.7,0.501,0.150,0.484,1.7,8.2,4.9,18.0,1,Q1
4,28,5,44,0,-0.100000,-1.6,64,113,18.7,0.0,...,6.7,0.214,0.000,0.500,0.0,7.5,3.7,15.0,-1,Q1

In [20]:
#df_Playoffs_output = df_Playoffs_result[Feature_list]
df_Playoffs_output.fillna(0)
df_Playoffs_output.info()
df_Playoffs_output.head(5)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1595 entries, 0 to 4
Data columns (total 21 columns):
Age            1595 non-null float64
G              1595 non-null float64
MP             1595 non-null float64
EFF            1595 non-null float64
GmSc           1595 non-null float64
PER            1593 non-null float64
ORtg           1576 non-null float64
DRtg           1593 non-null float64
AST_Per        1593 non-null float64
STL_Per        1593 non-null float64
BLK_Per        1593 non-null float64
TOV_Per        1572 non-null float64
TS_Per         1570 non-null float64
FT_Per         1563 non-null float64
three_Per      1563 non-null float64
ORB_Per        1593 non-null float64
DRB_Per        1593 non-null float64
TRB_Per        1593 non-null float64
USG_Per        1593 non-null float64
LastYearEFF    1595 non-null float64
Quartile       1595 non-null object
dtypes: float64(20), object(1)
memory usage: 274.1+ KB

,Age,G,MP,EFF,GmSc,PER,ORtg,DRtg,AST_Per,STL_Per,...,TOV_Per,TS_Per,FT_Per,three_Per,ORB_Per,DRB_Per,TRB_Per,USG_Per,LastYearEFF,Quartile
0,24,5,80,5,4.680000,14.4,102,112,14.4,2.0,...,15.1,0.533,0.286,0.457,2.7,7.5,5.0,26.2,0,Q1
1,25,4,7,1,0.675000,21.4,135,106,25.8,0.0,...,0.0,0.500,0.000,0.000,16.7,16.4,16.6,13.2,-1,Q1
0,23,6,50,2,1.066667,5.8,89,111,11.8,0.0,...,9.1,0.419,0.440,0.400,0.0,13.8,6.7,31.2,0,Q1
1,24,13,444,13,10.407692,15.5,109,111,18.5,0.6,...,13.2,0.573,0.271,0.376,1.1,7.8,4.5,23.7,1,Q1
2,30,12,132,2,1.758333,6.8,85,104,14.9,1.2,...,12.3,0.421,0.115,0.426,2.5,12.2,7.5,25.2,-1,Q1

###Output DataFrame to CSV

In [21]:
def Output_CSV(output_df,location):    
    output_file = open(location, "ab")
    output_df.to_csv(output_file,index=False)
    output_file.close()

In [22]:
Season_location = "e:\\nba\\Season_Weka.csv"
Playoffs_location = "e:\\nba\\Playoffs_Weka.csv"

Output_CSV(df_Season_output,Season_location)
Output_CSV(df_Playoffs_output,Playoffs_location)