# Basketball-Reference Team Data analysis

In [1]:
# special IPython command to prepare the notebook for matplotlib
from collections import defaultdict

import pandas as pd
import matplotlib.pyplot as plt
import requests
import re
import string
from pattern import web

### Read Player Seaaon CSV

In [7]:
df_player_season = pd.read_csv('e:\\Season_Totals.csv', header=0)

df_player_season.info()
#df_player_season.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3625 entries, 0 to 3624
Data columns (total 33 columns):
Season         3625 non-null object
Age            3625 non-null int64
Tm             3625 non-null object
Lg             3625 non-null object
Pos            3625 non-null object
G              3625 non-null int64
GS             3625 non-null int64
MP             3625 non-null int64
FG             3625 non-null int64
FGA            3625 non-null int64
FG_Per         3617 non-null float64
three_P        3625 non-null int64
three_PA       3625 non-null int64
three_P_Per    3154 non-null float64
two_P          3625 non-null int64
two_PA         3625 non-null int64
two_P_Per      3613 non-null float64
eFG_Per        3617 non-null float64
FT             3625 non-null int64
FTA            3625 non-null int64
FT_Per         3567 non-null float64
ORB            3625 non-null int64
DRB            3625 non-null int64
TRB            3625 non-null int64
AST            3625 non-null int64
STL            3625 non-null int64
BLK            3625 non-null int64
TOV            3625 non-null int64
PF             3625 non-null int64
PTS            3625 non-null int64
TranFlag       3625 non-null object
Name           3625 non-null object
Salary         3625 non-null object
dtypes: float64(5), int64(21), object(7)
memory usage: 962.9+ KB

### Read Team CSV

In [23]:
df_team = pd.read_csv('e:\\nba_team.csv', header=0)

df_team.info()
#df_team.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180 entries, 0 to 179
Data columns (total 26 columns):
tm_Tm           180 non-null object
tm_G            180 non-null int64
tm_MP           180 non-null int64
tm_FG           180 non-null int64
tm_FGA          180 non-null int64
tm_FG_Per       180 non-null float64
tm_three_P      180 non-null int64
tm_three_PA     180 non-null int64
tm_three_P.1    180 non-null float64
tm_twoP         180 non-null int64
tm_twoPA        180 non-null int64
tm_twoP.1       180 non-null float64
tm_FT           180 non-null int64
tm_FTA          180 non-null int64
tm_FT_Per       180 non-null float64
tm_ORB          180 non-null int64
tm_DRB          180 non-null int64
tm_TRB          180 non-null int64
tm_AST          180 non-null int64
tm_STL          180 non-null int64
tm_BLK          180 non-null int64
tm_TOV          180 non-null int64
tm_PF           180 non-null int64
tm_PTS          180 non-null int64
tm_PTSG         180 non-null float64
Season          180 non-null object
dtypes: float64(5), int64(19), object(2)
memory usage: 38.0+ KB

### Data split

In [9]:
df_player_season['Age'].describe()

count    3625.000000
mean       25.461517
std         3.702994
min        18.000000
25%        23.000000
50%        25.000000
75%        28.000000
max        39.000000
Name: Age, dtype: float64

In [41]:
#df_MIA=df_team[(df_team['Season'] == "2013-14") & (df_team['tm_Tm'] == "MIA")]
df_team_2015 = df_team[(df_team['Season'] == "2014-2015")]
df_team_2015
#df_2015.describe().mean()

#df_CLE = df_team[(df_team['Season'] == "2014-2015") & (df_team['tm_Tm'] == "CLE")]

,tm_Tm,tm_G,tm_MP,tm_FG,tm_FGA,tm_FG_Per,tm_three_P,tm_three_PA,tm_three_P.1,tm_twoP,...,tm_DRB,tm_TRB,tm_AST,tm_STL,tm_BLK,tm_TOV,tm_PF,tm_PTS,tm_PTSG,Season
150,MIL,82,19930,3083,6722,0.459,545,1500,0.363,2538,...,2574,3450,1932,789,403,1373,1814,8023,97.8,2014-2015
151,GSW,82,19730,3410,7137,0.478,883,2217,0.398,2527,...,2814,3667,2248,762,496,1185,1628,9016,110.0,2014-2015
152,MIN,82,19805,2986,6820,0.438,406,1223,0.332,2580,...,2406,3355,1771,668,327,1231,1571,8016,97.8,2014-2015
153,TOR,82,19855,3108,6829,0.455,726,2060,0.352,2382,...,2526,3407,1701,615,357,1057,1712,8527,104.0,2014-2015
154,ATL,82,19730,3121,6699,0.466,818,2152,0.380,2303,...,2611,3326,2111,744,380,1167,1457,8409,102.5,2014-2015
155,BOS,82,19880,3193,7211,0.443,660,2021,0.327,2533,...,2685,3595,2009,674,294,1133,1738,8312,101.4,2014-2015
156,DET,82,19830,3041,7038,0.432,703,2043,0.344,2338,...,2630,3681,1771,623,383,1099,1559,8077,98.5,2014-2015
157,NYK,82,19855,2882,6726,0.428,560,1614,0.347,2322,...,2443,3310,1746,575,382,1206,1768,7535,91.9,2014-2015
158,DEN,82,19880,3099,7158,0.433,660,2032,0.325,2439,...,2653,3665,1788,641,367,1166,1882,8320,101.5,2014-2015
159,SAC,82,19855,3010,6617,0.455,461,1350,0.341,2549,...,2728,3623,1667,550,324,1333,1696,8310,101.3,2014-2015
160,POR,82,19855,3175,7049,0.450,807,2231,0.362,2368,...,2881,3760,1799,525,372,1117,1494,8429,102.8,2014-2015
161,ORL,82,19755,3076,6792,0.453,554,1598,0.347,2522,...,2607,3429,1692,647,314,1221,1714,7847,95.7,2014-2015
162,MIA,82,19730,2885,6330,0.456,556,1659,0.335,2329,...,2461,3208,1626,642,372,1214,1636,7764,94.7,2014-2015
163,CHI,82,19880,3001,6797,0.442,645,1825,0.353,2356,...,2792,3751,1781,514,476,1145,1495,8265,100.8,2014-2015
164,SAS,82,19955,3208,6854,0.468,677,1847,0.367,2531,...,2772,3578,2000,657,444,1146,1564,8461,103.2,2014-2015
165,UTA,82,19705,2900,6492,0.447,610,1781,0.343,2290,...,2617,3605,1632,623,489,1256,1583,7801,95.1,2014-2015
166,CLE,82,19780,3089,6739,0.458,826,2253,0.367,2263,...,2612,3523,1814,603,340,1171,1510,8457,103.1,2014-2015
167,CHO,82,19905,2913,6932,0.420,498,1566,0.318,2415,...,2793,3613,1654,499,448,976,1494,7721,94.2,2014-2015
168,HOU,82,19805,3032,6832,0.444,933,2680,0.348,2099,...,2624,3582,1820,777,407,1366,1803,8522,103.9,2014-2015
169,WAS,82,19955,3139,6790,0.462,497,1381,0.360,2642,...,2801,3663,1969,601,378,1233,1707,8080,98.5,2014-2015
170,LAL,82,19930,3054,7020,0.435,532,1546,0.344,2522,...,2647,3599,1715,578,366,1086,1741,8073,98.5,2014-2015
171,PHI,82,19805,2765,6777,0.408,692,2160,0.320,2073,...,2536,3514,1683,789,487,1453,1778,7542,92.0,2014-2015
172,PHO,82,19880,3178,7038,0.452,698,2048,0.341,2480,...,2643,3539,1659,700,385,1238,1744,8397,102.4,2014-2015
173,MEM,82,19905,3097,6763,0.458,423,1246,0.339,2674,...,2634,3490,1777,700,347,1094,1567,8062,98.3,2014-2015
174,LAC,82,19730,3228,6830,0.473,827,2202,0.376,2401,...,2711,3495,2031,640,409,1012,1749,8751,106.7,2014-2015
175,DAL,82,19880,3255,7036,0.463,732,2082,0.352,2523,...,2608,3466,1846,663,371,1062,1644,8628,105.2,2014-2015
176,OKC,82,19830,3184,7119,0.447,632,1864,0.339,2552,...,2844,3896,1681,598,454,1205,1829,8524,104.0,2014-2015
177,BRK,82,19930,3069,6804,0.451,541,1633,0.331,2528,...,2627,3473,1716,576,340,1133,1579,8038,98.0,2014-2015
178,IND,82,19855,2998,6824,0.439,612,1740,0.352,2386,...,2822,3678,1757,505,375,1147,1742,7981,97.3,2014-2015
179,NOP,82,19780,3108,6795,0.457,586,1583,0.370,2522,...,2621,3563,1806,553,510,1087,1530,8147,99.4,2014-2015

In [49]:
df_player=df_player_season[['Tm','Season']].head(1)
df_player

    Tm   Season
0  OKC  2010-11